.main-container {
    width: 1366px;
    height: 768px;
    background-image: url("img/background1.png");
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 51px 176px 0px 160px;
    box-sizing: border-box;
}

.header {
    height: 61px;
}

.header-name {
    float: left;
}

.img-logo {
    float: left;
    margin-right: 8px;
}

.header-milan-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 29px;
    line-height: 29px;
    font-weight: bold;
    color: #FFFFFF;
}

.header-holiday-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;

}

.header-left-part:hover .header-milan-link {
    color: #F26522;
}

.header-left-part:hover .header-holiday-link {
    color: #F26522;
}


.header-left-part:hover .img-logo {
    visibility: hidden;
    background-image: url("img/logo2.png");

}

.header-right-part {
    float: right;
}

.header-email, .header-phone-number {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    float: right;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
}

.header-right-part:hover .header-email {
    color: #F26522;
}

.header-right-part:hover .header-phone-number {
    color: #F26522;
}

.header-phone-number {
    margin-top: 19px;
}

.main-block {
    margin-top: 22px
}


.main-block-sub-blocks {
    height: 261px;
}

.main-block-sub-blocks:last-child {
    margin-top: 37px;
    margin-bottom: 49px;
}


.sub-blocks-pictures {
    float: left;
    margin-right: 59px;
    box-sizing: border-box;
   }

.sub-blocks-pictures:last-child {
    margin-right: 0;
}

.main-block-img {
    display: block;
    box-sizing: border-box;

}
.sub-blocks-pictures-link {
    display: block;
    position: relative;
}

.text {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}

.text:hover {
    color: #F26522;
}

.hidden-menu {
    display: none;
    box-sizing: border-box;
    background-color: #F26522;
    width: 300px;
    height: 55px;
    margin: 0 2px;
    position: absolute;
    bottom: 0;
}

.from {
    text-decoration: none;
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    left: 16px;
    top: 7px;
    color: #FFFFFF;
}

.price {
    text-decoration: none;
    position: absolute;
    left: 16px;
    bottom: 12px;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.view-details {
    text-decoration: none;
    position: absolute;
    right: 37px;
    bottom: 12px;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.view-details::after {
    content: "  >";
    font-size: 15px;
}

/*.sub-blocks-pictures:hover .hidden-menu  {*/
/*    display: block;*/

/*}*/
.sub-blocks-pictures-link:hover .hidden-menu {
    display: block;
}

.footer {
    clear: both;
    display: block;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}



