.main-container {
    width: 100%;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.nav-container-background {
    background-image: url("../Images/Step Project Ham/Sections background/section-1(header).jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 8px;
}

.nav-background {
    background-color: rgba(94, 93, 88, 0.6);
}

.navigation-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    padding: 26px 0;
}

.logo-and-letter {
    display: flex
}

.logo-letter {
    position: relative;
    left: -45px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    align-self: center;
}

.logo-text {
    align-self: center;
    margin-left: -25px;
    font-size: 32px;
}

.turquoise-text-color {
    color: #18CFAB;
    font-weight: bold;
}

.navbar-container {
    align-self: center;
}

.navbar-menu-list {
    display: flex;
    justify-content: center;
}

.navbar-menu-list-item {
    margin-right: 21px;
}

.navbar-menu-list-item:last-child {
    margin-right: 0;
}

.navbar-menu-list-link {
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}

.navbar-menu-list-link:hover {
    color: #18CFAB;
    cursor: pointer;
}

.header-container {
    padding-top: 260px;
    padding-bottom: 240px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.header-title {
    margin-bottom: 22px;
}

.header-large-p {
    font-size: 78px;
    margin-bottom: 22px;
}

.header-small-p {
    text-transform: capitalize;
    font-weight: normal;
    font-size: 34px;
    color: #D4D4D4;
    margin-bottom: 130px;
}

.button {
    padding: 16px;
    margin-right: 26px;
    background: #18CFAB;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    border-top: 5px #ffffff solid;


}

.button:last-child {
    background: #00CBF6;;
    margin-right: 0;
}

.button:hover {
    color: black;
    background: radial-gradient(ellipse, #6fd4e8, #1873a8);
}

.options-container {
    display: flex;
    width: 100%;
}

.options-container-block {
    display: flex;
    flex-direction: column;
    background-color: #1C2A33;
    color: #18CFAB;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 85px 0 110px 0;
    flex: auto;
    align-items: center;
}

.options-container-block:nth-child(even) {
    background-color: #18CFAB;;
    color: #FFFFFF;
    padding-top: 85px
}

.options-container-block:nth-child(odd) img {
    padding-bottom: 47px;
}

.options-container-block:nth-child(even) img {
    padding-bottom: 62px;
}

.our-services-container {
    padding: 83px 0 91px;
}

.header2 {
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: #4E4E4E;
    text-align: center;
    margin-bottom: 100px;
}

/*.header2::after {*/
/*    margin-top: 24px;*/
/*    display: block;*/
/*    position: absolute;*/
/*    left: 47.5%;*/
/*    width: 79px;*/
/*    height: 5px;*/
/*    content: "";*/
/*    border-top: 1px #18CFAB solid;*/
/*    border-bottom: 1px #18CFAB solid;*/
/*    box-sizing: border-box;*/
/*    transform: skewX(75deg);*/
/*}*/
.header2::before {
    margin-top: 64px;
    display: block;
    position: absolute;
    left: 47%;
    width: 79px;
    height: 1px;
    content: "";
    border-top: 1px #18CFAB solid;
    box-sizing: border-box;
}


.header2::after {
    margin-top: 28px;
    display: block;
    position: absolute;
    left: 48%;
    width: 79px;
    height: 1px;
    content: "";
    border-top: 1px #18CFAB solid;
    box-sizing: border-box;
}

.our-services-tabs {
    display: flex;
    width: 100%;
    margin-bottom: 13px;
}

.our-services-tabs-title {
    padding: 16px 0;
    background: #F8FCFE;
    border: 2px solid #EDEFEF;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    flex: auto;
    color: #717171;
}

.our-services-tabs-title:hover {
    border: 2px solid #18CFAB;
}
.our-service-content-container{
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    display: none;
}
.our-service-content-img{
   float: left;
    width: 179px;
    height: 139px;
    margin-right: 15px;
}

.our-service-content-container.active {
    display: flex;
}
.our-services-tabs-title.active {
    background-color: #18CFAB;
    color: #FFFFFF;
}

/*.our-services-tabs-title:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    border: 20px solid transparent;*/
/*    border-top: 20px solid  #18CFAB;*/
/*}*/

.purchase-container-background {

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../Images/Step Project Ham/Sections background/section-2.jpg");
    background-position-y: -430px;
}
.purchase-container{
    text-align: center;

    font-size: 16px;
    padding: 127px 0;
    line-height: 40px;
    color: #D8D8D8;
}
.purchase-header2 {
    color: #18CFAB;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.purchase-container p {
    margin-bottom: 62px;
}





