.input {
    outline: none;
    width: 100px;
    margin: 10px;
    border-radius: 3px;
    border: 2px darkgray solid;
    text-align: center;
}

.input::-webkit-inner-spin-button, .input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

.input-focus-border {
    border: 2px #236D47 solid;
}

.filter {
    display: flex;
    color: darkgray;
    border: 1px darkgray solid;
    border-radius: 8px;
    width: 180px;
    margin-left: 10px;
    text-align: left;
    padding-left: 5px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.close-field {
    display: flex;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px darkgray solid;
    float: right;
    color: darkgray;
    align-items: center;
    outline: none;
    background-color: white;
    font-size: 7px;
    justify-content: center;
}

.change-text-color-while-blur {
    color: #236D47;
}


.input-error-border {
    border: 2px red solid;
}
